#headerTitle{
	color: #fff;
	text-align: center;
	width: 100%;
}

.sub{
	font-size: 50%;
}

#leftInstructions{
	width: 369px;
	top: 51px;
	left: 0;
	bottom: 0;
	height: calc(100% - 51px);
	position: absolute;
	border-right: 1px solid #222;
}

#mainContent{
	top: 51px;
	left: 369px;
	width: calc(100% - 369px);
	height: calc(100% - 51px);
	position: absolute;
}

.titles{
	width: 50%;
	padding-left: 20px;
	margin-top: auto;
	padding-top: 20px;
}

#instrColor{
	background-color: #f0ad4e;
	height: 62px;
	border-bottom: 1px solid #eea236;
}

#codeColor{
	background-color: #5bc0de;
	height: 62px;
	border-bottom: 1px solid #46b8da;
}

#tabNav{
	padding-top: 20px;
	padding-left: 20px;
}

.tab-content{
	padding-left: 20px;
}

#editor { 
        position: absolute;
        top: 62px;
        bottom: 51px;
        left: 0;
        right: 0;
        width: calc(100% - 530px);
        border-right: 1px solid #222;
}

#robbieArea{
	width: 490px;
	max-height: calc(100% - 120px);
	right: 0;
	position: absolute;
	margin-right: 20px;
	margin-left: 20px;
	overflow-y: auto;
}

.actionButtonsContainer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 51px;
	background-color: #222;
	border-color: #080808;
	z-index: 1000;
	left: 0;
}

.actionButtons{
	/*top: 10px;
	left: calc(100% - 414px);*/
	float: right;
	margin-top: 9px;
	margin-right: 20px; 
}

.assignButtonsContainer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 51px;
	background-color: #444;
	border-color: #080808;
	z-index: 1000;
	left: 0;
}

.assignButtons{
	top: 9px;
	left: 20px;
}

.instructions{
	max-width: 90%;
	max-height: calc(100% - 150px);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow-y: auto; 
}

.hideThis { 
	display: none;
}

#arena {
	/* The arena's position must be relative so that the robot's
	 * absolute position will be with respect to the arena. */
	position: relative;
	width: 400px;
	height: 300px;
	left: 2px;
	top:15px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.dot {
	margin: 26px 25px 26px 25px;
}

#robot {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(90deg);
	-webkit-transition: all 1s;
	-moz-transform: rotate(90deg);
	-moz-transition: all 1s;
	-o-transform: rotate(90deg);
	-o-transition: all 1s;
	-transform: rotate(90deg);
	-transition: all 1s;
}

#output{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	overflow: auto;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
}

#loadButtonBar{
	display: inline-block;
	width: 175px;
}

.popover {
	right: 50px !important;
	min-width: 200px !important;
}

#fileList{
	width: 175px;
}

#saveCancel{
	z-index: 1000;
}